{% extends 'requestdataapp/base.html' %}

{% block title %}
  User BIO
{% endblock %}

{% block body %}
  <h1>User form</h1>
  <div>
    <form action="" method="post">
      {% csrf_token %}
      <p>
        <label for="name-id">Имя</label>
        <input name="name" type="text" id="name-id" maxlength="10">
      </p>
      <p>
        <label for="age">Возраст</label>
        <input name="age" type="number" id="age" min="1" max="90">
      </p>
      <p>
        <label for="bio">Биография</label>
        <textarea name="bio" id="bio" cols="25" rows="15"></textarea>
      </p>
      <button type="submit">Принять</button>
    </form>
  </div>
  {% if request.POST %}
    <div>
      <h2>Ваши данные:</h2>
      <table>
        <tr>
          <td>{{ request.POST.name }}</td>
        </tr>
        <tr>
          <td>{{ request.POST.age }}</td>
        </tr>
        <tr>
          <td>{{ request.POST.bio|linebreaks }}</td>
        </tr>
      </table>
    </div>

  {% endif %}
{% endblock %}