{% extends 'requestdataapp/base.html' %}

{% block title %}
  User BIO
{% endblock %}

{% block body %}
  <h1>User form</h1>
  <div>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Принять</button>
    </form>
  </div>
  {% if request.POST %}
    <div>
      <h2>Ваши данные:</h2>
      <table>
        <tr>
          <td>{{ request.POST.name }}</td>
        </tr>
        <tr>
          <td>{{ request.POST.age }}</td>
        </tr>
        <tr>
          <td>{{ request.POST.bio|linebreaks }}</td>
        </tr>
      </table>
    </div>

  {% endif %}
{% endblock %}