{% extends 'shopapp/base.html' %}
{% load i18n %}

{% block title %}
  Product #{{ object.pk }}
{% endblock %}

{% block body %}
  <h1>{% translate 'Product' %} :{{ object }}</h1>
  <div>
    <p>{% translate 'Description' %}: <em>{{ object.descriptions }}</em></p>
    <p>{% translate 'Price' %}: <em>{{ object.price }}</em></p>
    {% translate 'no discount' as no_discount %}
    <p>{% translate 'Discount' %}: <em>{% firstof object.discount no_discount %}</em></p>
    <p>{% translate 'Archived' %}: <em>{{ object.archived }}</em></p>
    {% if product.preview %}
      <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}">
    {% endif %}
    <div>
      {% if object.images %}
        {% blocktranslate count images_count=object.images.all|length %}
          <h3>Images:</h3>
          There is only one image:
          {% plural %}
          There are {{ images_count }} images.
        {% endblocktranslate %}
      {% endif %}
    </div>
    <div>
      {% for image in object.images.all %}
        <div>
          <img src="{{ image.image.url }}" alt="{{ image.image.name }}">
          <div>{{ image.description }}</div>
        </div>

      {% endfor %}

    </div>
  </div>
  <br>
  <div>
    <a href="{% url 'shopapp:update_product' product.pk %}">{% translate 'Update product' %}</a>
  </div>
  <br>
  <div>
    <a href="{% url 'shopapp:delete_product' product.pk %}">{% translate 'Delete this product' %}</a>
  </div>
  <br>
  <div>
    <a href="{% url 'shopapp:products' %}">{% translate 'Back to products list' %}</a>
  </div>

{% endblock %}